h2 {
    color:rgb(33, 112, 196);
    background-color:whitesmoke;
    text-decoration: underline;
}

p {
    font-size:18px;
    color: rgb(18, 90, 167);
}

body {
    background-color:rgb(195, 233, 255);
}
