h1 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

#q1 {
    background-color: antiquewhite;
}
#q2 {
    background-color: burlywood;
}
#q3 {
    background-color: antiquewhite;
}
#q4 {
    background-color: burlywood;
}
#q5 {
    background-color: antiquewhite;
}
#q6 {
    background-color: burlywood;
}


#q1-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q1-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q1-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q1-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q2-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q2-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q2-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q2-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q3-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q3-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q3-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q3-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q4-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q4-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q4-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q4-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q5-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q5-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q5-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q5-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q6-a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q6-a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q6-a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q6-a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}