h1 {
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

#q1 {
    background-color: antiquewhite;
}
#q2 {
    background-color: burlywood;
}
#q3 {
    background-color: antiquewhite;
}
#q4 {
    background-color: burlywood;
}
#q5 {
    background-color: antiquewhite;
}
#q6 {
    background-color: burlywood;
}


#q1a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q1a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q1a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q1a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q2a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q2a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q2a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q2a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q3a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q3a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q3a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q3a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q4a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q4a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q4a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q4a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q5a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q5a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q5a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q5a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}



#q6a1 {
    display: block;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    margin-right: 93%;
}

#q6a2 {
    display: block;
    background-color: rgb(157, 255, 0);
    padding: 5px;
    margin-right: 93%;
}

#q6a3 {
    display: block;
    background-color: rgb(0, 162, 255);
    padding: 5px;
    margin-right: 93%;
}

#q6a4 {
    display: block;
    background-color: rgb(255, 230, 0);
    padding: 5px;
    margin-right: 93%;
}