div {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

button, p {
    display: inline-block;
}

#Common{
    background-color: white;
}

#Uncommon{
    background-color: blue;
}

#Rare{
    background-color: gold;
}

#Legendary{
    background-color: orangered;
}

#Mythic{
    background-color: pink;
}