#the {
    color: red;
}

#quick {
    color: orange;
}

#brown {
    color: yellow;
}

#fox {
    color: green;
}

#jumps {
    color: blue;
}

div {
    border: 10px solid blue;
    background-color: pink;
}

p {
    margin: 10px; display: inline;
    font-size: 300%;
}