#the {
    color: red;
}

#quick {
    color: orange;
}

#brown {
    color: yellow;
}

#fox {
    color: green;
}

#jumps {
    color: blue;
}

.pink {
    border: 10px solid blue;
    background-color: pink;
}

#over {
    color: purple;
}

#thee {
    color: pink;
}

#lazy {
    color: white;
}

#dog {
    color: grey;
}

.black {
    border: 10px solid green;
    background-color: black;

}

p {
    font-size: 300%;
    display: inline;
}

div {
    display: inline-block;
    margin: -2px;
}
