body {
    background-color: white;
}

#TopMenu {
    display: inline-block;
    text-align: center;
    background-color: hsl(240, 11%, 96%);
    height: 70px;
    width: 100%;
    margin: -8px;
    word-spacing: 50px;
}

.TopMenu {
    color: hsl(240, 1%, 28%);
    margin-top: .8%;
}

#Iconbar {
    display: inline-block;
    background-color: hsl(240, 33%, 99%);
    text-align: center;
    height: 210px;
    width: 100%;
}

#fifteen {
    display: block;
}

#imagefifteen {
    display: block;
    margin-top: 20px;
}

.fifteeen {
    display: block;
}

.Neww {
    display: block;
    color: orange;
}
#topbar {
    display: inline-block;
    place-items: center;
    background-color: hsl(240, 11%, 96%);
    text-align: center;
    height: 175px;
    margin: -8px;
    font-size: 30px;
    width: 100%;
}

#bottom {
    display: inline-block;
    place-items: center;
    background-color:black;
    text-align: center;
    height: 100%;
    margin: -8px;
    margin-top: -16px;
    width: 100%;
}


p {
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 0%;
    display: inline-block;
}

.topbar {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 1.5%;
}

.New {
    color: orange;
}

.iPhone {
    color: bisque;
}

.Price {
    color: white;
}

.learn  {
    color: hsl(210, 83%, 44%);
}

#applelogo {
    display: inline-block;
    justify-items: center;
    vertical-align: -3px;
}

#searc {
    display: inline-block;
    vertical-align: -6px;
}

#shopping {
    display: inline-block;
    vertical-align: -6px;
}