body {
    background-color: white;
}

#TopMenu {
    display: inline-block;
    text-align: center;
    background-color: hsl(240, 11%, 96%);
    height: 70px;
    width: 100%;
    margin: -8px;
    word-spacing: 50px;
}

.TopMenu {
    color: hsl(240, 1%, 28%);
    margin-top: .8%;
}

#Iconbar {
    display: inline-block;
    background-color: hsl(240, 33%, 99%);
    text-align: center;
    height: 210px;
    width: 100%;
    vertical-align: bottom;
}

#fifteenpro {
    display: inline-block;
    padding: 25px;
}
    .fifteenpro {
        display: block;
    }

    .Newpro {
        display: block;
        color: rgb(255, 94, 0);
        margin-top: -13px;
    }

#fifteen {
    display: inline-block;
    padding: 25px;
}
    .fifteen {
        display: block;
    }

    .Neww {
        display: block;
        color: rgb(255, 94, 0);
        margin-top: -13px;
    }

#fourteen {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .fourteen {
        display: block;
    }

#thirteen {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .thirteen {
        display: block;
    }

#SE {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .SE {
        display: block;
    }

#Compare {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Compare {
        display: block;
    }

#Airpod {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Airpod {
        display: block;
    }

#Airtag {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Airtag {
        display: block;
    }

#Accessories {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Accessoriess {
        display: block;
    }

#Applecard {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Applecard {
        display: block;
    }

#iOS {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .iOS {
        display: block;
    }

#Shop {
    display: inline-block;
    padding: 25px;
    vertical-align: bottom;
    margin-bottom: 20px;
}
    .Shop {
        display: block;
    }


#topbar {
    display: inline-block;
    background-color: hsl(240, 11%, 96%);
    text-align: center;
    height: 175px;
    font-size: 30px;
    width: 100%;
}

.topbar {
    display: inline-block;
    margin-top: 50px;
}

.ShopiPhone {
    color: hsl(210, 83%, 44%);
    display: inline-block;
}

#boxtext {
    display: inline-block;
    margin-right: 30%;
    margin-left: 30%;
}

#bottom {
    display: inline-block;
    background-color: black;
    text-align: center;
    height: 840px;
    margin: -8px;
    margin-top: -16px;
    width: 100%;
}

#Titanium {
    padding-bottom: 25px;
}

.buy {
    border: 30px;
    border-color: hsl(210, 83%, 44%);
    color: white;
    font-size: 20px;
}


p {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin-top: 0%;
    display: inline-block;
}


.New {
    color: rgb(255, 94, 0);
    display: block;
    margin-top: 6%;
}

.iPhone {
    color: bisque;
    display: block;
    font-size: 20px;
}

.Price {
    color: white;
    display: block;
    font-size: 20px;
}

.learn {
    color: hsl(210, 83%, 44%);
    display: block;
    font-size: 20px;
}

#applelogo {
    display: inline-block;
    justify-items: center;
    vertical-align: -3px;
}

#searc {
    display: inline-block;
    vertical-align: -6px;
}

#shopping {
    display: inline-block;
    vertical-align: -6px;
}